<div class="card">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Título</th>
        <th>Mensagem</th>
        <th>Tipo</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @notification.title %></td>
          <td><%= @notification.message %></td>
          <td><%= @notification.kind %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
