<div class="container my-3 border rounded p-3">
<p>
  <strong>Sender:</strong>
  <%= did_good.sender.full_name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= did_good.receiver.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= did_good.description %>
</p>
</div>